{
    "1mbot": [
        {
            "name": "Jurij",
            "apiKey": "bg_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "secret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "password": "xxxxxxxxxxxxxxxx"
        }
    ],
    "telegram": {
        "bot_token": "xxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "chat_id": "xxxxxxxxxx"
    }
}
